body{
	background: url(../img/clouds-sky-anime-11.jpg) no-repeat center center fixed;
	background-size: cover;
	font-size: 24px;
	font-family: serif;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 0px;
	padding: 0px;
}

header, .intro{
	/* border: 5px solid red; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-self: stretch;
	align-items: center;
	width: 100%;
}

ul{
	list-style-type: none;
	display: flex;
	gap: 30px;
}

a{
	text-decoration: none;
}

li > a{
	color: white;
	font-family: "Tilt Prism";
}

a:hover{
	color:red;
}

.main{
	display: flex;
	align-self: stretch;
	flex-flow: column wrap;
	align-items: space-between;
	justify-content: center;
}

.intro{
	width: 85%;
	margin: 5em auto 0 auto;
	height: 100%;
	gap: 32px;
	border-radius: 1.5em;
	box-shadow: 0 0 2em rgb(69 69 69);
}

.intro-text{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 15px;
	padding: 0 8px;
	margin-left: 2em;
}

.intro-text > h1
{
	align-self: flex-start;
	margin-bottom: -16px;
	font-size: 72px;
}

.intro-text > p
{
	align-self: flex-start;
}

.intro-img > img
{
	align-self: stretch;
	width: 500px;
	height: 340px;
	/* overflow: hidden; */
}

.intro-img{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.intro-text > a {
	font-size: 26px;
	font-family: "Indie Flower";
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
	height: 50px;
	margin: 10px 0;
	border-radius: 25px;
	align-self: center;
	border: 5px solid gray;
	background: linear-gradient(to bottom, #cc0000 0%, #ff99cc 100%);
}

.intro-text > a:hover
{
	background: linear-gradient(to bottom, #0099ff 0%, #66ff66 100%);
	border: 5px solid red;
	border-radius: 35px;
}

.info{
	padding: 64px;
	flex-flow: column wrap;
}
.info > h1
{
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
} 

.info-cons{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 20px;
}

.info-container{
	max-width: 200px;
	transition: ease-in .7s;
}
.info-container:hover {
    color: lightpink;
}

.info-img > img{
	width:	200px;
	height: 200px;
	border: 3px solid white;
	border-radius: 25px;
}
.info-img
{
	transition: ease 0.1s;
}

.info-container > p{
	align-self: flex-start;
}

.quote{
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	background-color: red;
}